In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data/aircraft_database.csv', index_col=0)
data

,length [m],cg [m],wingspan [m],wingarea [m^2],drymass [kg],allupmass [kg]
name,,,,,,
ft_mini_se5,0.4760,0.0508,0.6096,0.170,0.2495,0.326
ft_mini_dr1,0.4950,0.0465,0.6182,0.213,0.2630,0.340
ft_mini_scout,0.4572,0.0440,0.6090,0.085,0.1150,0.165
ft_sparrow,0.4060,0.0445,0.7230,0.116,0.1870,0.256
ft_mini_arrow,0.4390,0.0445,0.7750,0.166,0.2180,0.245
ft_mini_mustang,0.4820,0.2500,0.6220,0.074,0.1560,0.222
ft_sportster,0.7620,0.0630,0.9900,0.245,0.4300,0.620
ft_sea_duck,1.0670,0.0640,1.3970,0.319,1.1110,1.301
ft_mini_super_bee,0.4950,0.0510,0.6350,0.117,0.3400,0.482

In [6]:
wing_loading = pd.Series(data['allupmass [kg]']/data['wingarea [m^2]'], name='wing loading [N/m^2]')*9.8
wing_loading

name
ft_mini_se5          18.792941
ft_mini_dr1          15.643192
ft_mini_scout        19.023529
ft_sparrow           21.627586
ft_mini_arrow        14.463855
ft_mini_mustang      29.400000
ft_sportster         24.800000
ft_sea_duck          39.968025
ft_mini_super_bee    40.372650
Name: wing loading [N/m^2], dtype: float64

Would be helpful to know payload and thrust, but not provided. We can measure it for the mini scout.